doctype html
html(lang="es")
	head
		link(href='/public/css/main.css', rel='stylesheet')
		title Jade
	body
		h1 Hola ke ase
		#container.col
			p KKasdas
			p
				| Jade is a terse and simple
				| asdasdasdasdadas language with a
				| strong focus on performance
				| and powerful features.
