doctype html
html(lang="es")
	head
		meta(charset='UTF-8')
		link(href='css/main.min.css', rel='stylesheet')
		title Mercadotecnia Digital
	body
		.navbar-fixed
			nav.white
				.nav-wrapper
					a.brand-logo(href="#home") #[img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,w_70/v1510671768/Logonuevo400-01_fd63ui.png')]
					a.button-collapse(href="#", data-activates="mobile-demo") #[i.material-icons menu]
					ul.right.hide-on-med-and-down.center
						li #[a(href="#who") QUIENES SOMOS]
						li #[a(href="#what") SERVICIOS]
						li #[a(href="#why") POR QUÉ UV MARKETING]
						li #[a(href="#where") CONTACTO]
		section#home
			.container
				.row
					.col.m6.center
						h1 ¿CLIENTES?
						p ellos te buscan,
						span nosotros
						p los encontramos
		section#who
			.container
				.row
					.col.l6.m6.s12 #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_400/v1510671766/Logonuevomorado1500x2000-01_pclnjm.png')]
					.col.l6.m6.s12.center
						h5 Jóvenes profesionales
						p Dedicados a crear, desarrollar e implemetar estrategias de marketing que vayan más alla de lo visible.
						p Combinamos nuestras 3 áreas de trabajo para poder genear acciones que aumenten la probabilidad de concretar ventas de nuestros clientes.
						.col.m4.grey-color #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_70/v1510672489/MARKETING_wamchf.png')] #[br] Marketing
						.col.m4.secondary-color #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_70/v1510672491/TI_vygnvo.png')] #[br]  Tecnologías de Información
						.col.m4.link-color #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_70/v1510672488/DISE%C3%91O_joegbj.png')] #[br]  Diseño Gráfico
		section#what
			.container
				.row
					.col.l6.m6.s12.center #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_100/v1510672716/WEB_S_mbj3iq.png')] #[br] #[b Web Search Engine] #[p Llega a las personas que están buscando negocios como el tuyo]
					.col.l6.m6.s12.center #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_100/v1510672718/DESARROLLO_W_fqije2.png')] #[br] #[b Desarrollo Web] #[p Coloca tu negocio en la red y brinda la información y servicios que necesitan tus clientes]
					.col.l6.m6.s12.center #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_100/v1510672720/IDENTIDAD_CORPORATIVA_u9aoh9.png')] #[br] #[b Identidad Corporativa] #[p Transmite lo que es en realidad tu negocio a través de tu imagen]
					.col.l6.m6.s12.center #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_100/v1510672722/CAMPA%C3%91AS_PUBLI_stfwr8.png')] #[br] #[b Campañas #[i UV Technologies]] #[p Utiliza las últimas tendencias en tecnología para tu nuevo producto o marca]
					.col.l12 #[h2.right SERVICIOS]
		section#why
			.container
				.row.center
					.col.l12 #[h2.left CLIENTES]
					.col.l6.m6.s12 #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_200/v1510673888/SALUTEM_n37s37.png')]
					.col.l6.m6.s12 #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_200/v1510673887/GLASS_fzgv35.png')]
					.col.l6.m6.s12 #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_200/v1510673887/CARPENTERS_kiaplh.png')]
					.col.l6.m6.s12 #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_200/v1510673887/ENDODENT_hmhn8z.png')]
					.col.l6.m6.s12 #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_200/v1510673887/CASA_wr88lv.png')]
					.col.l6.m6.s12 #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_200/v1510673887/ESCAPE_ROOMS_xbc8b0.png')]
					.col.l6.m6.s12 #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_200/v1510673887/logorotary_1_x6cany.png')]
					.col.l6.m6.s12 #[img.responsive-img(src='https://res.cloudinary.com/uv-marketing/image/upload/c_scale,h_200/v1510673887/GOLDEN_fmxwqv.png')]
		section#where
			.container
				.row
					.col.l4.s12
						h2 NUESTRA OFICINA
						.row #[.col.l2 #[i.fa.fa-pin]] #[.col.l10 #[p Avenida Universidad de Wisconsin #208 Int. J Colonia Universidad Sur. Tampico, Tamaulipas, México]]
						.row #[.col.l2 #[i.fa.fa-telephone]] #[.col.l10 #[p (833) 217 06 22]]
						.row #[.col.l2 #[i.fa.fa-mail]] #[.col.l10 #[a(href='mailto:contacto@uvmarketing.com.mx') contacto@uvmarketing.com.mx]]
					.col.l8.s12
						.row #[.col.l3 #[h2 CONTACTANOS]] #[.col.l9 #[p Este es el primer paso para iniciar una estrategia ultravioleta. Déjanos tus datos y nos comunicaremos a la brevedad posible]]
		ul#mobile-demo.side-nav
			li #[a(href="#who") QUIENES SOMOS]
			li #[a(href="#what") SERVICIOS]
			li #[a(href="#why") POR QUÉ UV MARKETING]
			li #[a(href="#where") CONTACTO]
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')
		script.
			$(".button-collapse").sideNav();
