@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900')
$primary-color: #351F39 !default
$primary-color-light: false !default
$primary-color-dark: false !default
@if not $primary-color-light 
  $primary-color-light: lighten($primary-color, 15%)
@if not $primary-color-dark 
  $primary-color-dark: darken($primary-color, 15%)
$secondary-color: #726A95 !default
$success-color: #A0C1B8 !default
$error-color: #F4E8C1 !default
$link-color: #709FB0 !default

.primary-color 
  color: $primary-color
.secondary-color 
  color: $secondary-color
.success-color 
  color: $success-color
.error-color 
  color: $error-color
.link-color 
  color: $link-color
.grey-color 
  color: lighten(#000,60%)

body  
  font: 100% Roboto, sans-serif
nav  
  height: 75px!important
  line-height: 75px!important
  i, [class^="mdi-"], [class*="mdi-"], i.material-icons, .button-collapse i  
    height: 75px!important
    line-height: 75px!important
  
  .brand-logo  
    font-size: 1.6rem
  

@media only screen and (min-width: 601px)  
  nav  
    height: 75px!important
    line-height: 75px!important
    .nav-wrapper i  
      height: 75px!important
      line-height: 75px!important
    
    a.button-collapse  
      height: 75px!important
      line-height: 75px!important
      i  
        height: 75px!important
        line-height: 75px!important
      
    
  

nav img 
  margin-bottom: -25px

nav ul a  
  color: lighten($primary-color, 10%)!important
  font-weight: 700
  font-size: 14px!important
  margin-right: 50px!important
  padding: 0em 6em 0em 6em!important

nav .brand-logo 
  background: $primary-color!important
  padding-left: 30px!important
  padding-right: 30px!important
  border-radius:  0px 50px 50px 0px

section 
  height: 90vh
  background: lighten($primary-color,80%)

section#home 
  background-image: url("https://res.cloudinary.com/uv-marketing/image/upload/v1510623925/home_k2rxi1.png")
  background-size: auto 100%
  margin-top: -40px
  padding-top: 100px
  text-transform:  uppercase
  h1 
    font-size: 40px
    font-weight: 700!important
    padding: 0
  p 
    font-size: 45px
    font-weight: 700!important
    transform:  scale(.5, 1)
    margin: -20px 0px -20px 0px
  span 
    font-weight: 900
    color: $link-color!important
    font-size: 50px

section#who
    background: #fff
    padding-top: 2em
    height: auto

section#what 
  background: lighten($primary-color,80%)!important
  height: auto
  padding-top: 8em
  border-radius: 300px 0px 0px 0px
  b
    color: lighten(grey, 25%)!important
    font-size: 1.5em!important
    margin-bottom: 0px
  p
    color: lighten(grey, 30%)!important
    margin-top: 0px
  h2
    color: lighten($secondary-color, 5%)!important

section#why
  border-radius: 300px 0px 0px 0px
  overflow: hidden
  background: #fff
  height: auto
  padding-top: 6em
  h2
    color: lighten($secondary-color, 5%)!important
h1  
  color: $link-color!important
  font-weight: 400!important

p  
  color: lighten($primary-color, 10%)!important
  font-weight: 300!important
  font-size: 22px